bot:
    debug         : true
reddit:
    subreddits:
      - subreddit : furry
        account   : yiffybot
    accounts:
        yiffybot  : apassword
imgur:
    id            : imgur_id
    secret        : imgur_secret
domains:
    furaffinity.net:
        cookies:
            a     : furaffinity_a
            b     : furrafinity_b
    tumblr.com:
        keys:
            id    : CLIENT_ID
            secret: CLIENT_SECRET
    e621.net:
    deviantart.net: